<div class="container" (window:resize)="onResize($event)">
  <form (ngSubmit)="onSearch(inputSearch.value)" class="formContainer">
    <input type="search" #inputSearch id="inputSearch" class="input" autocomplete="off" placeholder="Search for a song / artist">
    <button type="submit" class="btn">Search</button>
  </form>
  <div class="searchResult">
    <div class="trendingContainer" *ngIf="trending !== null" >
      <h1 class="h1Trending">Top Worldwide: </h1>
      <mat-grid-list [cols]="breakpoint" rowHeight="1:1" class="gridContainer">
          <mat-grid-tile class="gridItem" *ngFor="let data of trending" (click)="onClickSound(data.id)">
            <div class="infoTrending" >
              <p class="titleTrending">{{data.title}}</p>
              <p class="artistTrending">by {{data.artist}}</p>
            </div>
            <img src='{{data.img}}' alt="Album-picture" class="img">
          </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div *ngFor="let data of searchData" class="searchResultItems" (click)="onClickSound(data.id)">
      <p class="title margin">{{data.title}}</p>
      <p class="artist">by {{data.artist}}</p>
      <p class="title duration">{{Math.round(data.duration / 60)}}m{{Math.round(data.duration % 60)}}s</p>
    </div>
  </div>
</div>
