<div class="container" *ngIf="songData">
  <div class="btn" (click)="onClickReturn()">Home</div>
  <h1 class="title">{{songData.title}}</h1>
  <span class="titleSpan">Artist: <p class="value">{{songData.artist.name}}</p></span>
  <span class="titleSpan">Album: <p class="value">{{songData.album.title}}</p></span>
  <span class="titleSpan">Duration: <p class="value">{{Math.round(songData.duration / 60)}}m{{Math.round(songData.duration % 60)}}s</p></span>
  <span class="titleSpan">Release date: <p class="value">{{songData.release_date}}</p></span>
  <span class="titleSpan">Rank: <p class="value">{{songData.rank}}</p></span>
  <span class="titleSpan">BPM: <p class="value">{{songData.bpm}}</p></span>
  <img src="{{songData.album.cover_medium}}" alt="artistPicture" class="imgPP">
  <img src="{{songData.artist.picture_medium}}" alt="albumPicture" class="imgAL">
</div>
  <div id="iframeDiv" class="iframeDiv">
</div>
