
<style>
  .iframeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    min-height: 330px;
    font-family: Muli;
  }
  .title {
    align-items: center;
    color: white;
    margin: 20px auto 30px;
    z-index: 10;
  }
  .imgPP {
    position: absolute;
    top: 210px;
    right: 170px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    z-index: 1;
  }
  .imgAL {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    z-index: 0;
  }
  .link {
    color: white;
  }

  .link:hover {
    text-decoration: none;
  }

  .titleSpan {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
    font-size: 1.1rem;
  }
  .value {
    color: #c842f5;
  }
  .btn {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 25px;
    left: 0;
    background: linear-gradient(to left, #5742f5, #c842f5);
    border-radius: 15px;
    font-family: Muli;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    cursor: pointer;

  }
  @media (max-width: 600px) {
    .imgPP, .imgAL {
      display: none;
      /*position: relative;*/
    }
    .btn {
      position: relative;
      margin-bottom: 10px;
    }
  }

</style>
<div class="container" *ngIf="songData">
  <div class="btn" (click)="onClickReturn()">Home</div>
  <h1 class="title">{{songData.title}}</h1>
  <span class="titleSpan">Artist: <p class="value">{{songData.artist.name}}</p></span>
  <span class="titleSpan">Album: <p class="value">{{songData.album.title}}</p></span>
  <span class="titleSpan">Duration: <p class="value">{{Math.round(songData.duration / 60)}}m{{Math.round(songData.duration % 60)}}s</p></span>
  <span class="titleSpan">Release date: <p class="value">{{songData.release_date}}</p></span>
  <span class="titleSpan">Rank: <p class="value">{{songData.rank}}</p></span>
  <span class="titleSpan">BPM: <p class="value">{{songData.bpm}}</p></span>
  <img src="{{songData.album.cover_medium}}" alt="artistPicture" class="imgPP">
  <img src="{{songData.artist.picture_medium}}" alt="albumPicture" class="imgAL">
</div>
  <div id="iframeDiv" class="iframeDiv">
</div>
